@charset "utf-8";

  /* Fonte e cor definidos no <body> | imagem de fundo */
  body {
    background-image:url('../images/f1-1991.jpg');
    font-family:calibri;
    color:black;
  }

  /* Transparência com rgba | posição absoluta fazendo o <h1> ficar descolado no site | posição definida no site utilizando top */
  h1 {
    background-color:rgba(0,0,0,.2);
    position:absolute;
    font-size:30px;
    top:-12px;
  }

  /* nav para definir o posicionamento no site */
  nav#EQUIPES {
    position:absolute;
    display:block;
    top:-27px;
    left:327px;
  }

  /* Configuração dos links dentro do nav */
  nav#EQUIPES a {
    text-decoration:none;
    color:black;
  }

  /* Configuração hover no momento em que o mouse passar por cima de algum <li> | color utilizado como exemplo  */
  nav#EQUIPES a:hover {
    color:#1C1C1C;
  }

  /* tamanho da fonte | list-style para retirar as pontuações não ordernadas do <ul> */
  nav#EQUIPES ul {
    list-style:none;
    font-size:25px;
  }

  /* Transparência com rgba | inline-block para colocar as tags lado a lado | Distância dentro de cada tag com padding | margin que distância cada tag */
  nav#EQUIPES li {
    transition:background-color 0.2s;
    background-color:rgba(0,0,0,.2);
    display:inline-block;
    padding:1px;
    margin:12px;
  }

  /* Mudança de cor no <li> utilizando hover */
  nav#EQUIPES li:hover {
    background-color:#FF0000;
  }
