@charset "UTF-8";

  /* Configurações da div e section */
  .container { display:table; margin:30px auto; padding:0px 13px; }

  section { background-color:#F2F2F2; width:75%; float:left; display:block; }

  section, .artigos { padding:9px; }


  /* Conteúdo */
  .artigos h1, h2, span, p { color:rgba(0,0,0,.9); }

  .artigos h1 { font-size:35px; }

  .artigos span, p { font-size:20px; }

  .artigos p { text-align:justify; }


  /* Imagem 1 */
  img { border-radius:15px; display:block; margin:50px auto; width:25%; height:16%; }


  /* Imagem 2 */
  figure { width:15%; height:5%; }

  figure img { width:80%; height:100%; }

  figcaption { position:relative; top:-70px; left:140px; }


  /* Deixei as tags com essa class sublinhadas */
  .underline a { text-decoration:underline; }
